// C:\Users\Usuario\Desktop\allplayerspc.com - Gentile>sass --watch css/estilos.scss css/estilos.css

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

//Variables
$colorPrincialOscuro: #006f54;
$colorPrincipalMedio: #00916e;
$colorPrincipalClaro: #00ffc11f;
$colorBlanco: #fff;
$colorNegro: #000000;
$bRadius: 32px;
$sm: 16px;
$md: 18px;
$lg: 20px;

//Universal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    height: auto;
    width: auto;
    padding: 3px;
    scroll-behavior: smooth;
    background-color: $colorPrincipalClaro;
}

/* ------------------------ Header ------------------------------*/

.inactive {
    display: none;
}

/* --------------------- Navbar (General) ------------------------*/

.headerNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    background-color: $colorPrincialOscuro;
    border-bottom: 1px solid $colorNegro;
}
.menu {
    display: none;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-ghost {
    padding-top: 7px;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    font-size: $lg;
}
.fa-ghost:hover {
    color: $colorNegro;
}
.logoText {
    color: $colorNegro;
    text-shadow: 0 0 10px $colorNegro;
}
.players {
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: $colorNegro;
    border: 1px solid $colorNegro;
    box-shadow: 0 0 5px $colorNegro;
    padding: 5px;
    border-radius: $bRadius;
    margin: 10px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    background-color: $colorBlanco;
}
.navbar-email {
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    cursor: pointer;
    font-size: $sm;
    margin-right: 12px;
}
.navbar-email:hover {
    color: $colorNegro;
    text-shadow: 0 0 10px $colorNegro;
}
.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div {
    width: 9px;
    height: 9px;
    background-color: $colorBlanco;
    color: $colorNegro;
    text-shadow: 0 0 10px $colorNegro;
    border-radius: $bRadius;
    font-size: $sm;
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------- Desktop Menu ------------------------*/

.desktop-menu {
    position: absolute;
    top: 75px;
    right: 60px;
    background: $colorPrincialOscuro;
    width: 130px;
    height: auto;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;   
}
.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2) {
    font-weight: bold;    
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid $colorNegro;  
}
.desktop-menu ul li:last-child a {
    color: $colorNegro;    
    font-size: $sm;
}
.desktop-menu ul li a {
    color: $colorNegro;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

/* --------------------- Mobile Menu ------------------------*/

.mobile-menu {
    position: absolute;
    top: 75px;
    padding: 24px;
    background-color: $colorPrincialOscuro;
}
.mobile-menu a {
    text-decoration: none;
    color: $colorNegro;
    font-weight: bold;
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid $colorNegro;
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.email {
    color: $colorBlanco !important;
    text-shadow: 0 0 10px $colorBlanco;
    font-size: $sm;
    font-weight: 300 !important;
}
.sign-out {
    font-size: $sm;
    color: $colorNegro !important;
    text-shadow: 0 0 10px $colorBlanco;
}


/* ------------------ Aside (product detail) ---------------------*/

.product-detail {
    width: 360px;
    padding: 0 24px;
    background-color: $colorPrincialOscuro;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    /* border-radius: 5px; */
}
.title-container {
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
}
.title {
    font-size: $md;
    font-weight: bold;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    margin-top: 12px;
}
.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: $colorPrincialOscuro;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
}
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: $md;
    font-weight: bold;
}
.order div:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
.primary-button {
    background-color: $colorNegro;
    border-radius: 8px;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    border: 1px solid $colorNegro;
    width: 100%;
    cursor: pointer;
    font-size: $md;
    font-weight: bold;
    height: 50px;
    margin-bottom: 5px;
}
.primary-button:hover {
    background-color: $colorBlanco;
    color: $colorNegro;
    text-shadow: 0 0 10px $colorNegro;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2) {
    color: $colorNegro;
}
.shopping-cart p:nth-child(3) {
    font-size: $md;
    font-weight: bold;
}
.shopping-cart figure button:nth-child(4) {
    width: 10px;
    padding-bottom: 8px;
}

/* ------------------ Breadcrumb ---------------------*/

.migaja {
    padding: 5px;
    width: 50%;
    margin-bottom: 0;
}
.breadcrumb {
    padding: 0;
    background-color: transparent;
}
.breadcrumb-item.active {
    color: $colorPrincialOscuro;
    text-shadow: 0 0 5px $colorNegro;
}
.breadcrumb a {
    color: $colorPrincialOscuro;
    text-shadow: 0 0 5px $colorNegro;
}

/* ------------------ Main Index ---------------------*/

.jumbotron {
    background-image: url(https://w0.peakpx.com/wallpaper/438/10/HD-wallpaper-video-game-charactors-game-warrior-video-charctors.jpg);
    /* border-image: $borderRadius; */
    background-size: cover;
    background-position: center;
    color: $colorBlanco;
    .titulo {
        color: $colorNegro;
        padding: 3px;
        text-align: center;
        text-decoration: underline;
        animation: bounce; 
        animation-duration: 2s;
        text-shadow: 0 0 5px $colorBlanco;
    }
    .subIndex {
        padding: 3px;
        text-align: center;
        text-decoration: underline;
        color: $colorNegro;
        text-shadow: 0 0 5px $colorBlanco;
    }
}

/* ------------------ Product List ---------------------*/

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
}
.product-card {
    width: 240px;
}
.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/* ------------------ Desafios ---------------------*/
.sectionForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formContact {
    background-color: $colorPrincialOscuro;
    height: 370px;
    width: 30%;
    padding: 10px;
    border: 1px $colorNegro solid;
    box-shadow: 0px 0px 10px $colorNegro;
    border-radius: 25px;
    margin: 15px;
}
.form-control {
    color: $colorBlanco !important;
    background-color: $colorNegro !important;
    border: 1px solid $colorBlanco !important;
    box-shadow: 0px 0px 10px $colorBlanco;
}
.tituloFormulario {
    color: $colorNegro;
    text-align: center;
    padding: 3px;
    text-decoration: underline;
    text-shadow: 0 0 5px $colorNegro;
}
.form-control {
    background-color: transparent;
    padding: 7px;
    margin: 10px;
    border: 1px $colorNegro solid;
    width: 90%;
}
.btn {
    background-color: $colorNegro;
    padding: 7px;
    margin: 10px;
    border: 1px $colorBlanco solid;
    box-shadow: 0px 0px 10px $colorBlanco;
    color: $colorBlanco;
}
.btn:hover {
    color:$colorNegro;
    background-color: $colorBlanco;
    border: 2px $colorNegro solid;
}
.btn:focus {
    color:$colorNegro;
    background-color: $colorBlanco;
    border: 2px $colorNegro solid;
}
.productsGree {
    background-color: $colorPrincialOscuro;
    height: auto;
    width: 60%;
    padding: 10px;
    border: 1px $colorNegro solid;
    box-shadow: 0px 0px 10px $colorNegro;
    border-radius: 25px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exampleCard {
    background-color: $colorPrincipalMedio;
    border: 1px solid $colorBlanco !important;
    box-shadow: 0px 0px 10px $colorBlanco;
}
.exampleCardBody {
    border: 1px solid $colorNegro !important;
    box-shadow: 0px 0px 10px $colorNegro;
}
.pCard {
    padding: 10px;
    color: $colorBlanco !important;
    background-color: $colorNegro !important;
    border: 1px solid $colorBlanco !important;
    box-shadow: 0px 0px 10px $colorBlanco;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center
}
.totalCar {
    margin-top: 12px;
    border: 1px solid $colorNegro;
    color: $colorNegro;
    text-shadow: 0 0 5px $colorNegro;
}

.probando {
    width: 100;
    height: 200;
    padding: 20px;
    margin: 15px;
    border: 1px solid $colorPrincialOscuro;
}

/* ------------------------ Footer ------------------------------*/

footer {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: $colorPrincialOscuro;
    justify-content: space-around;
    align-items: center;
}

.barra {
    padding-top: 15px;
}

.barra li{
    list-style: none;
}

.barra ul li a {
    color: $colorNegro;
    text-decoration: none;
}

.barra a:hover {
    background-color: $colorBlanco;
}

.footerRedes {
    font-size: 20px;
    letter-spacing: 15px;
}
.fa-brands {
    padding: 5px;
    border: 1px solid $colorNegro;
    box-shadow: 0 0 5px $colorNegro;
    border-radius: $bRadius;
    text-align: center;
    padding-left: 20px;
    color: $colorNegro !important;
}
.footerRedes i:hover {
    background-color: $colorBlanco;
}
.footerCopy {
    color: $colorNegro;
    font-size: 16px;
}



@media (max-width: 640px) {
    /* Product List */

    .card-container {
        grid-template-columns: repeat(auto-fil, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 800px) {
/* ------------------------ Header ------------------------------*/
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    .product-detail {
        width: 100%;
    }
}

@media (min-width: 801px) {
/* ------------------------ Header ------------------------------*/
    .mobile-menu {
        display: none;
    }
}