// C:\Users\Usuario\Desktop\allplayerspc.com - Gentile>sass --watch css/estilos.scss css/estilos.css

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

//Variables
$colorPrincialOscuro: #006f54;
$colorPrincipalClaro: #00ffc11f;
$colorBlanco: #fff;
$colorNegro: #000000;
$bRadius: 32px;
$sm: 16px;
$md: 18px;
$lg: 20px;

//Universal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    box-sizing: border-box;
    height: auto;
    width: auto;
    scroll-behavior: smooth;
    /* background-color: $colorPrincipalClaro; */
    background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
}

/* ------------------------ Header ------------------------------*/

.inactive {
    display: none;
}

/* --------------------- Navbar (General) ------------------------*/

.headerNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    /* background-color: $colorPrincialOscuro; */
    background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
    border-bottom: 1px solid $colorBlanco;
    box-shadow: 0 0 5px $colorBlanco;
}
.menu {
    display: none;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-ghost {
    padding-top: 7px;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    font-size: $lg;
}
.fa-ghost:hover {
    color: $colorNegro;
}
.logoText {
    color: $colorNegro;
    text-shadow: 0 0 10px $colorNegro;
}
.players {
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
}

.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-right ul li a {
    text-decoration: none;
    color: $colorNegro;
    border: 1px solid $colorNegro;
    box-shadow: 0 0 5px $colorNegro;
    padding: 5px;
    border-radius: $bRadius;
    margin: 10px;
}
.navbar-right ul li a:hover {
    background-color: $colorBlanco;
}

.identificationFormC {
    display: flex;
}
.getInto {
    width: 110px!important;
    margin-top: 14px;
    margin-right: 6px;
}
.singOut {
    width: 100px!important;
    margin-bottom: 18px!important;
    margin-right: 20px;
} 
.navbar-email {
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    cursor: pointer;
    font-size: $sm;
    margin-right: 12px;
    padding-top: 25px;
    padding-right: 15px;
}
.navbar-email:hover {
    color: $colorNegro;
    text-shadow: 0 0 10px $colorNegro;
}
.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
    padding-top: 10px;
}
.navbar-shopping-cart div {
    width: 13px;
    height: 13px;
    background-color: $colorNegro;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    border-radius: $bRadius;
    font-size: $sm;
    font-weight: bold;
    position: absolute;
    top: -2px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------- Desktop Menu ------------------------*/

.desktop-menu {
    position: absolute;
    top: 72px;
    right: 60px;
    background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
    width: 140px;
    height: auto;
    padding: 20px 20px 0 20px;
    border: 1px solid $colorBlanco;
    box-shadow: 0px 0px 10px $colorBlanco;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: center;   
}


/* ------------------ Aside (product detail) ---------------------*/

.product-detail {
    width: 360px;
    padding: 0 24px;
    background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
    box-sizing: border-box;
    position: absolute;
    right: 0;
    border: 1px solid $colorBlanco;
    box-shadow: 0px 0px 10px $colorBlanco;
}
.title {
    font-size: $md;
    font-weight: bold;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    margin-top: 12px;
}
.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
}
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: $md;
    font-weight: bold;
}
.order div:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
.primary-button {
    background-color: $colorNegro;
    border-radius: 8px;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
    border: 1px solid $colorNegro;
    width: 100%;
    cursor: pointer;
    font-size: $md;
    font-weight: bold;
    height: 30px;
    margin-bottom: 5px;
}
.primary-button:hover {
    background-color: $colorBlanco;
    color: $colorNegro;
    text-shadow: 0 0 10px $colorNegro;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2) {
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
}
.shopping-cart p:nth-child(3) {
    font-size: $md;
    font-weight: bold;
    color: $colorBlanco;
    text-shadow: 0 0 10px $colorBlanco;
}

.sectionForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formContact {
    background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
    height: auto;
    width: 80%;
    padding: 10px;
    border: 1px $colorNegro solid;
    box-shadow: 0px 0px 10px $colorNegro;
    border-radius: 25px;
    margin: 15px;
}
.form-control {
    color: $colorBlanco;
    background-color: $colorNegro;
    border: 1px solid $colorBlanco;
    box-shadow: 0px 0px 10px $colorBlanco;
    width: 90%;
    padding: 7px;
    margin: 10px;
}
.tituloFormulario {
    color: $colorNegro;
    text-align: center;
    padding: 3px;
    text-decoration: underline;
    text-shadow: 0 0 5px $colorBlanco;
}


/* ------------------ Main Index ---------------------*/

.jumbotron {
    background-image: url(https://w0.peakpx.com/wallpaper/438/10/HD-wallpaper-video-game-charactors-game-warrior-video-charctors.jpg);
    background-size: cover;
    background-position: center;
    color: $colorBlanco;
    .titulo {
        color: $colorBlanco;
        padding: 3px;
        text-align: center;
        text-decoration: underline;
        animation: bounce; 
        animation-duration: 2s;
        text-shadow: 0 0 5px $colorBlanco;
    }
    .subIndex {
        padding: 3px;
        text-align: center;
        text-decoration: underline;
        color: $colorBlanco;
        text-shadow: 0 0 5px $colorBlanco;
    }
}

/* ------------------ Product List ---------------------*/

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
}
.product-card {
    width: 240px;
    color: $colorBlanco;
    text-shadow: 0 0 5px $colorBlanco;
}
.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/* ------------------ Desafios ---------------------*/

.btn {
    background-color: $colorNegro;
    padding: 7px;
    margin: 10px;
    border: 1px $colorBlanco solid;
    box-shadow: 0px 0px 10px $colorBlanco;
    color: $colorBlanco;
}
.btn:hover {
    color:$colorNegro;
    background-color: $colorBlanco;
    border: 2px $colorNegro solid;
}
.btn:focus {
    color:$colorNegro;
    background-color: $colorBlanco;
    border: 2px $colorNegro solid;
}

/* ------------------------ Carousel ------------------------------*/

.carousel {
    padding: 10px;
}

.card {
    border: none;
}
/* ------------------------ Footer ------------------------------*/

footer {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $colorBlanco;
    box-shadow: 0 0 5px $colorBlanco;
}

.barra {
    padding-top: 15px;
}

.barra li{
    list-style: none;
}

.barra ul li a {
    color: $colorNegro;
    text-decoration: none;
}

.barra a:hover {
    background-color: $colorBlanco;
}

.footerRedes {
    font-size: 20px;
    letter-spacing: 15px;
}
.fa-brands {
    padding: 5px;
    border: 1px solid $colorNegro;
    box-shadow: 0 0 5px $colorNegro;
    border-radius: $bRadius;
    text-align: center;
    padding-left: 20px;
    color: $colorNegro !important;
}
.footerRedes i:hover {
    background-color: $colorBlanco;
}
.footerCopy {
    color: $colorNegro;
    font-size: 16px;
}

/* ------------------------ Media ------------------------------*/

@media (max-width: 640px) {
    /* Product List */

    .card-container {
        grid-template-columns: repeat(auto-fil, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 800px) {

    .product-detail {
        width: 100%;
    }
}

/* ------------------------ Sweet ------------------------------*/

.swal2-container.swal2-center>.swal2-popup {
    background: $colorNegro;
    border: 1px solid $colorBlanco;
    box-shadow: 0 0 5px $colorBlanco;
    color: $colorBlanco;
    text-shadow: 0 0 5px $colorBlanco;
}

.swal2-styled.swal2-confirm {
    background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54) !important;
}