@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  box-sizing: border-box;
  height: auto;
  width: auto;
  padding: 3px;
  scroll-behavior: smooth;
  background-color: rgba(0, 255, 193, 0.1215686275);
}

/* ------------------------ Header ------------------------------*/
.inactive {
  display: none;
}

/* --------------------- Navbar (General) ------------------------*/
.headerNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  background-color: #006f54;
  border-bottom: 1px solid #000000;
}

.menu {
  display: none;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-ghost {
  padding-top: 7px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-size: 20px;
}

.fa-ghost:hover {
  color: #000000;
}

.logoText {
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

.players {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
}

.navbar-right ul li a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 0 5px #000000;
  padding: 5px;
  border-radius: 32px;
  margin: 10px;
}

.navbar-right ul li a:hover {
  background-color: #fff;
}

.navbar-email {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 12px;
}

.navbar-email:hover {
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}

.navbar-shopping-cart div {
  width: 9px;
  height: 9px;
  background-color: #fff;
  color: #000000;
  text-shadow: 0 0 10px #000000;
  border-radius: 32px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------- Desktop Menu ------------------------*/
.desktop-menu {
  position: absolute;
  top: 75px;
  right: 60px;
  background: #006f54;
  width: 130px;
  height: auto;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid #000000;
}

.desktop-menu ul li:last-child a {
  color: #000000;
  font-size: 16px;
}

.desktop-menu ul li a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

/* --------------------- Mobile Menu ------------------------*/
.mobile-menu {
  position: absolute;
  top: 75px;
  padding: 24px;
  background-color: #006f54;
}

.mobile-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid #000000;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.email {
  color: #fff !important;
  text-shadow: 0 0 10px #fff;
  font-size: 16px;
  font-weight: 300 !important;
}

.sign-out {
  font-size: 16px;
  color: #000000 !important;
  text-shadow: 0 0 10px #fff;
}

/* ------------------ Aside (product detail) ---------------------*/
.product-detail {
  width: 360px;
  padding: 0 24px;
  background-color: #006f54;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

.title-container {
  display: flex;
}

.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  margin-top: 12px;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #006f54;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.order div:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.primary-button {
  background-color: #000000;
  border-radius: 8px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  border: 1px solid #000000;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  margin-bottom: 5px;
}

.primary-button:hover {
  background-color: #fff;
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart figure {
  margin: 0;
}

.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: #000000;
}

.shopping-cart p:nth-child(3) {
  font-size: 18px;
  font-weight: bold;
}

.shopping-cart figure button:nth-child(4) {
  width: 10px;
  padding-bottom: 8px;
}

/* ------------------ Main Index ---------------------*/
.jumbotron {
  background-image: url(https://w0.peakpx.com/wallpaper/438/10/HD-wallpaper-video-game-charactors-game-warrior-video-charctors.jpg);
  /* border-image: $borderRadius; */
  background-size: cover;
  background-position: center;
  color: #fff;
}
.jumbotron .titulo {
  color: #000000;
  padding: 3px;
  text-align: center;
  text-decoration: underline;
  animation: bounce;
  animation-duration: 2s;
  text-shadow: 0 0 5px #fff;
}
.jumbotron .subIndex {
  padding: 3px;
  text-align: center;
  text-decoration: underline;
  color: #000000;
  text-shadow: 0 0 5px #fff;
}

/* ------------------ Product List ---------------------*/
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
}

.product-card {
  width: 240px;
}

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-info figure {
  margin: 0;
}

.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* ------------------ Desafios ---------------------*/
.sectionForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formContact {
  background-color: #006f54;
  height: 370px;
  width: 30%;
  padding: 10px;
  border: 1px #000000 solid;
  box-shadow: 0px 0px 10px #000000;
  border-radius: 25px;
  margin: 15px;
}

.form-control {
  color: #fff !important;
  background-color: #000000 !important;
  border: 1px solid #fff !important;
  box-shadow: 0px 0px 10px #fff;
}

.tituloFormulario {
  color: #000000;
  text-align: center;
  padding: 3px;
  text-decoration: underline;
  text-shadow: 0 0 5px #000000;
}

.form-control {
  background-color: transparent;
  padding: 7px;
  margin: 10px;
  border: 1px #000000 solid;
  width: 90%;
}

.btn {
  background-color: #000000;
  padding: 7px;
  margin: 10px;
  border: 1px #fff solid;
  box-shadow: 0px 0px 10px #fff;
  color: #fff;
}

.btn:hover {
  color: #000000;
  background-color: #fff;
  border: 2px #000000 solid;
}

.btn:focus {
  color: #000000;
  background-color: #fff;
  border: 2px #000000 solid;
}

.productsGree {
  background-color: #006f54;
  height: auto;
  width: 60%;
  padding: 10px;
  border: 1px #000000 solid;
  box-shadow: 0px 0px 10px #000000;
  border-radius: 25px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exampleCard {
  background-color: #00916e;
  border: 1px solid #fff !important;
  box-shadow: 0px 0px 10px #fff;
}

.exampleCardBody {
  border: 1px solid #000000 !important;
  box-shadow: 0px 0px 10px #000000;
}

.pCard {
  padding: 10px;
  color: #fff !important;
  background-color: #000000 !important;
  border: 1px solid #fff !important;
  box-shadow: 0px 0px 10px #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.totalCar {
  margin-top: 12px;
  border: 1px solid #000000;
  color: #000000;
  text-shadow: 0 0 5px #000000;
}

.probando {
  width: 100;
  height: 200;
  padding: 20px;
  margin: 15px;
  border: 1px solid #006f54;
}

/* ------------------------ Footer ------------------------------*/
footer {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: #006f54;
  justify-content: space-around;
  align-items: center;
}

.barra {
  padding-top: 15px;
}

.barra li {
  list-style: none;
}

.barra ul li a {
  color: #000000;
  text-decoration: none;
}

.barra a:hover {
  background-color: #fff;
}

.footerRedes {
  font-size: 20px;
  letter-spacing: 15px;
}

.fa-brands {
  padding: 5px;
  border: 1px solid #000000;
  box-shadow: 0 0 5px #000000;
  border-radius: 32px;
  text-align: center;
  padding-left: 20px;
  color: #000000 !important;
}

.footerRedes i:hover {
  background-color: #fff;
}

.footerCopy {
  color: #000000;
  font-size: 16px;
}

@media (max-width: 640px) {
  /* Product List */
  .card-container {
    grid-template-columns: repeat(auto-fil, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 800px) {
  /* ------------------------ Header ------------------------------*/
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .product-detail {
    width: 100%;
  }
}
@media (min-width: 801px) {
  /* ------------------------ Header ------------------------------*/
  .mobile-menu {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
