@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  box-sizing: border-box;
  height: auto;
  width: auto;
  scroll-behavior: smooth;
  /* background-color: $colorPrincipalClaro; */
  background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
}

/* ------------------------ Header ------------------------------*/
.inactive {
  display: none;
}

/* --------------------- Navbar (General) ------------------------*/
.headerNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  /* background-color: $colorPrincialOscuro; */
  background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px #fff;
}

.menu {
  display: none;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-ghost {
  padding-top: 7px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-size: 20px;
}

.fa-ghost:hover {
  color: #000000;
}

.logoText {
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

.players {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
}

.navbar-right ul li a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 0 5px #000000;
  padding: 5px;
  border-radius: 32px;
  margin: 10px;
}

.navbar-right ul li a:hover {
  background-color: #fff;
}

.identificationFormC {
  display: flex;
}

.getInto {
  width: 110px !important;
  margin-top: 14px;
  margin-right: 6px;
}

.singOut {
  width: 100px !important;
  margin-bottom: 18px !important;
  margin-right: 20px;
}

.navbar-email {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 12px;
  padding-top: 25px;
  padding-right: 15px;
}

.navbar-email:hover {
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
}

.navbar-shopping-cart div {
  width: 13px;
  height: 13px;
  background-color: #000000;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  border-radius: 32px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------- Desktop Menu ------------------------*/
.desktop-menu {
  position: absolute;
  top: 72px;
  right: 60px;
  background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
  width: 140px;
  height: auto;
  padding: 20px 20px 0 20px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #fff;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: center;
}

/* ------------------ Aside (product detail) ---------------------*/
.product-detail {
  width: 360px;
  padding: 0 24px;
  background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
  box-sizing: border-box;
  position: absolute;
  right: 0;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #fff;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  margin-top: 12px;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.order div:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.primary-button {
  background-color: #000000;
  border-radius: 8px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  border: 1px solid #000000;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 5px;
}

.primary-button:hover {
  background-color: #fff;
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart figure {
  margin: 0;
}

.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.shopping-cart p:nth-child(3) {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.sectionForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formContact {
  background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
  height: auto;
  width: 80%;
  padding: 10px;
  border: 1px #000000 solid;
  box-shadow: 0px 0px 10px #000000;
  border-radius: 25px;
  margin: 15px;
}

.form-control {
  color: #fff;
  background-color: #000000;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #fff;
  width: 90%;
  padding: 7px;
  margin: 10px;
}

.tituloFormulario {
  color: #000000;
  text-align: center;
  padding: 3px;
  text-decoration: underline;
  text-shadow: 0 0 5px #fff;
}

/* ------------------ Main Index ---------------------*/
.jumbotron {
  background-image: url(https://w0.peakpx.com/wallpaper/438/10/HD-wallpaper-video-game-charactors-game-warrior-video-charctors.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
.jumbotron .titulo {
  color: #fff;
  padding: 3px;
  text-align: center;
  text-decoration: underline;
  animation: bounce;
  animation-duration: 2s;
  text-shadow: 0 0 5px #fff;
}
.jumbotron .subIndex {
  padding: 3px;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

/* ------------------ Product List ---------------------*/
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
}

.product-card {
  width: 240px;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-info figure {
  margin: 0;
}

.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* ------------------ Desafios ---------------------*/
.btn {
  background-color: #000000;
  padding: 7px;
  margin: 10px;
  border: 1px #fff solid;
  box-shadow: 0px 0px 10px #fff;
  color: #fff;
}

.btn:hover {
  color: #000000;
  background-color: #fff;
  border: 2px #000000 solid;
}

.btn:focus {
  color: #000000;
  background-color: #fff;
  border: 2px #000000 solid;
}

/* ------------------------ Carousel ------------------------------*/
.carousel {
  padding: 10px;
}

.card {
  border: none;
}

/* ------------------------ Footer ------------------------------*/
footer {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54);
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #fff;
  box-shadow: 0 0 5px #fff;
}

.barra {
  padding-top: 15px;
}

.barra li {
  list-style: none;
}

.barra ul li a {
  color: #000000;
  text-decoration: none;
}

.barra a:hover {
  background-color: #fff;
}

.footerRedes {
  font-size: 20px;
  letter-spacing: 15px;
}

.fa-brands {
  padding: 5px;
  border: 1px solid #000000;
  box-shadow: 0 0 5px #000000;
  border-radius: 32px;
  text-align: center;
  padding-left: 20px;
  color: #000000 !important;
}

.footerRedes i:hover {
  background-color: #fff;
}

.footerCopy {
  color: #000000;
  font-size: 16px;
}

/* ------------------------ Media ------------------------------*/
@media (max-width: 640px) {
  /* Product List */
  .card-container {
    grid-template-columns: repeat(auto-fil, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 800px) {
  .product-detail {
    width: 100%;
  }
}
/* ------------------------ Sweet ------------------------------*/
.swal2-container.swal2-center > .swal2-popup {
  background: #000000;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #fff;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.swal2-styled.swal2-confirm {
  background-image: radial-gradient(circle, #006f54, #065d47, #0b4b3a, #0c392d, #0c2921, #0c2921, #0c2921, #0c2921, #0c392d, #0b4b3a, #065d47, #006f54) !important;
}

/*# sourceMappingURL=estilos.css.map */
